{% extends "learning_logs/base.html" %}

{% block header %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <h1 class="d-flex align-items-center mb-3 mb-md-0 md-auto text-decoration-none">
        Topics
      </h1>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button class="btn btn-primary">
            <a href="{% url 'learning_logs:new_topic' %}"
            style="color:white; text-decoration:none">NEW TOPIC</a>
          </button>
        </li>
      </ul>    
    </header>
  </div>
{% endblock header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <h3></h3>
  
{% endblock content %}